.icon-agreement2 { background-image: url('png/agreement2.png'); background-repeat: no-repeat; }

.icon-alarm4 { background-image: url('png/alarm4.png'); background-repeat: no-repeat; }

.icon-badges2 { background-image: url('png/badges2.png'); background-repeat: no-repeat; }

.icon-batteries13 { background-image: url('png/batteries13.png'); background-repeat: no-repeat; }

.icon-books91 { background-image: url('png/books91.png'); background-repeat: no-repeat; }

.icon-calendars12 { background-image: url('png/calendars12.png'); background-repeat: no-repeat; }

.icon-chain13 { background-image: url('png/chain13.png'); background-repeat: no-repeat; }

.icon-check mark5 { background-image: url('png/check mark5.png'); background-repeat: no-repeat; }

.icon-cinema68 { background-image: url('png/cinema68.png'); background-repeat: no-repeat; }

.icon-circle18 { background-image: url('png/circle18.png'); background-repeat: no-repeat; }

.icon-clocks18 { background-image: url('png/clocks18.png'); background-repeat: no-repeat; }

.icon-clouds64 { background-image: url('png/clouds64.png'); background-repeat: no-repeat; }

.icon-cogwheels10 { background-image: url('png/cogwheels10.png'); background-repeat: no-repeat; }

.icon-computer mouse24 { background-image: url('png/computer mouse24.png'); background-repeat: no-repeat; }

.icon-computer screen13 { background-image: url('png/computer screen13.png'); background-repeat: no-repeat; }

.icon-cups17 { background-image: url('png/cups17.png'); background-repeat: no-repeat; }

.icon-curve arrow32 { background-image: url('png/curve arrow32.png'); background-repeat: no-repeat; }

.icon-document235 { background-image: url('png/document235.png'); background-repeat: no-repeat; }

.icon-document236 { background-image: url('png/document236.png'); background-repeat: no-repeat; }

.icon-document237 { background-image: url('png/document237.png'); background-repeat: no-repeat; }

.icon-down arrows11 { background-image: url('png/down arrows11.png'); background-repeat: no-repeat; }

.icon-error4 { background-image: url('png/error4.png'); background-repeat: no-repeat; }

.icon-garbage24 { background-image: url('png/garbage24.png'); background-repeat: no-repeat; }

.icon-handshake4 { background-image: url('png/handshake4.png'); background-repeat: no-repeat; }

.icon-houses16 { background-image: url('png/houses16.png'); background-repeat: no-repeat; }

.icon-inverted commas { background-image: url('png/inverted commas.png'); background-repeat: no-repeat; }

.icon-laptops2 { background-image: url('png/laptops2.png'); background-repeat: no-repeat; }

.icon-left arrows6 { background-image: url('png/left arrows6.png'); background-repeat: no-repeat; }

.icon-letters22 { background-image: url('png/letters22.png'); background-repeat: no-repeat; }

.icon-lifesaver19 { background-image: url('png/lifesaver19.png'); background-repeat: no-repeat; }

.icon-lightning49 { background-image: url('png/lightning49.png'); background-repeat: no-repeat; }

.icon-like7 { background-image: url('png/like7.png'); background-repeat: no-repeat; }

.icon-list22 { background-image: url('png/list22.png'); background-repeat: no-repeat; }

.icon-loving13 { background-image: url('png/loving13.png'); background-repeat: no-repeat; }

.icon-megaphones { background-image: url('png/megaphones.png'); background-repeat: no-repeat; }

.icon-messages10 { background-image: url('png/messages10.png'); background-repeat: no-repeat; }

.icon-minus sign5 { background-image: url('png/minus sign5.png'); background-repeat: no-repeat; }

.icon-money card4 { background-image: url('png/money card4.png'); background-repeat: no-repeat; }

.icon-multimedia option14 { background-image: url('png/multimedia option14.png'); background-repeat: no-repeat; }

.icon-multimedia option15 { background-image: url('png/multimedia option15.png'); background-repeat: no-repeat; }

.icon-multimedia option16 { background-image: url('png/multimedia option16.png'); background-repeat: no-repeat; }

.icon-multimedia option17 { background-image: url('png/multimedia option17.png'); background-repeat: no-repeat; }

.icon-multimedia option18 { background-image: url('png/multimedia option18.png'); background-repeat: no-repeat; }

.icon-padlock105 { background-image: url('png/padlock105.png'); background-repeat: no-repeat; }

.icon-paper40 { background-image: url('png/paper40.png'); background-repeat: no-repeat; }

.icon-pencils13 { background-image: url('png/pencils13.png'); background-repeat: no-repeat; }

.icon-photo246 { background-image: url('png/photo246.png'); background-repeat: no-repeat; }

.icon-photography39 { background-image: url('png/photography39.png'); background-repeat: no-repeat; }

.icon-pie graph { background-image: url('png/pie graph.png'); background-repeat: no-repeat; }

.icon-play video3 { background-image: url('png/play video3.png'); background-repeat: no-repeat; }

.icon-questions6 { background-image: url('png/questions6.png'); background-repeat: no-repeat; }

.icon-radio12 { background-image: url('png/radio12.png'); background-repeat: no-repeat; }

.icon-raindrop { background-image: url('png/raindrop.png'); background-repeat: no-repeat; }

.icon-right arrows6 { background-image: url('png/right arrows6.png'); background-repeat: no-repeat; }

.icon-save file2 { background-image: url('png/save file2.png'); background-repeat: no-repeat; }

.icon-setup2 { background-image: url('png/setup2.png'); background-repeat: no-repeat; }

.icon-shopping carts6 { background-image: url('png/shopping carts6.png'); background-repeat: no-repeat; }

.icon-shopping store11 { background-image: url('png/shopping store11.png'); background-repeat: no-repeat; }

.icon-smartphones23 { background-image: url('png/smartphones23.png'); background-repeat: no-repeat; }

.icon-stars64 { background-image: url('png/stars64.png'); background-repeat: no-repeat; }

.icon-stats47 { background-image: url('png/stats47.png'); background-repeat: no-repeat; }

.icon-thumb down4 { background-image: url('png/thumb down4.png'); background-repeat: no-repeat; }

.icon-up arrows16 { background-image: url('png/up arrows16.png'); background-repeat: no-repeat; }

.icon-wallets3 { background-image: url('png/wallets3.png'); background-repeat: no-repeat; }

.icon-wireless internet3 { background-image: url('png/wireless internet3.png'); background-repeat: no-repeat; }

.icon-zoom13 { background-image: url('png/zoom13.png'); background-repeat: no-repeat; }

