.icon-agreement { background-image: url('png/agreement.png'); background-repeat: no-repeat; }

.icon-alarm { background-image: url('png/alarm.png'); background-repeat: no-repeat; }

.icon-badges { background-image: url('png/badges.png'); background-repeat: no-repeat; }

.icon-books { background-image: url('png/books.png'); background-repeat: no-repeat; }

.icon-burger { background-image: url('png/burger.png'); background-repeat: no-repeat; }

.icon-calendars { background-image: url('png/calendars.png'); background-repeat: no-repeat; }

.icon-cinema { background-image: url('png/cinema.png'); background-repeat: no-repeat; }

.icon-circle { background-image: url('png/circle.png'); background-repeat: no-repeat; }

.icon-clocks18 { background-image: url('png/clocks18.png'); background-repeat: no-repeat; }

.icon-clouds64 { background-image: url('png/clouds64.png'); background-repeat: no-repeat; }

.icon-error4 { background-image: url('png/error4.png'); background-repeat: no-repeat; }

