// === Variables

// === Main

/*
html

The html element represents the root of an HTML document.

Styleguide 0.x
*/
html
{
	line-height					:$base-line-height;
	overflow-y 					:scroll;
	min-height 					:100%;

	-webkit-text-size-adjust 	:100%;
		-ms-text-size-adjust 	:100%;

	-moz-osx-font-smoothing		:grayscale;
	 -webkit-font-smoothing 	:antialiased;

	//font						:$base-font-weight #{$base-font-size + "%"}/#{$base-line-height} $base-font-family;
	/*
	@media (max-width: 37.5em)
	{
		font-size				:100%;
	}*/
}

// Box Sizing
// ================================================================================================
// @notes
// A more considered reset; more of a restart...
// As per: csswizardry.com/2011/10/reset-restarted
html
{
	box-sizing					:border-box;
}

*
{
	&, &:before, &:after
	{
		box-sizing 				:inherit;
	}
}

*
{
	outline 					:none;
	background-position			:0 0;
	background-repeat			:no-repeat;
}

head
{

}

title
{

}

base
{

}

link
{

}

meta
{

}

style
{

}

script
{

}

noscript
{

}
