// === Variables
$core-anchor-color 				:$clr-primary !default;

// === Main

/*
a

If the a element has an href attribute, then it represents a hyperlink (a hypertext anchor). If the a element has no href attribute, then the element represents a placeholder for where a link might otherwise have been placed, if it had been relevant.
The target, rel, media, hreflang, and type attributes must be omitted if the href attribute is not present.

Markup:
<a href="http://html5doctor.com/author/jacko/">Jack Osborne</a>

Styleguide 0.0
*/
a
{
	color 						:$core-anchor-color;
	text-decoration 			:none;

	&:hover, &:focus
	{
		text-decoration 		:underline;
	}

	&:before, &:after
	{
		text-decoration			:none;
	}

	// TODO - link styles based on attributes
	&[href*="mailto:"]
	{
		&:before
		{
		//	content				:"@";
		}
	}
}
