{
    "pages":
    [
        {"page": "Homepage","slug":"homepage"},
        {"page": "Products","slug":"products", 
                            "children":[{"page":"Product 1","slug":"product1"},
                                        {"page":"Product 2","slug":"product2"},
                                        {"page":"Product 3","slug":"product3"}
                            ]
        },
        {"page": "Services","slug":"services"},
        {"page": "Contact Us","slug":"contact"},
        {"page": "Blog","slug":"blog"}
    ],
    "articles":
    [
        {"page":"Article 1","slug":"article1"},
        {"page":"Article 2","slug":"article2"}
    ]
}